/**
 * Reset
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.5;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol, ul {
	list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

/* Remove inner focus in Mozilla 4+. */
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0px none transparent;
	padding: 0;
}

/** 
 * Links
 */

/* Removes gray background color from active links in IE 10. */
a {
	background-color: transparent;
}

a:active, a:hover {
	outline: 0;
}

/**
 * Normalizing text
 */

b, strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

small {
	font-size: 80%;
}

/* Prevent subscript and superscript to increase lineheight. */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/**
 * Forms
 */

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
	line-height: normal;
}

button {
	overflow: visible;
}

button, select {
	text-transform: none;
}

textarea {
	overflow: auto;
}

/**
 * Grid: 12-columns 
 */

.grid {
	max-width: 1200px;
	margin: 0 auto 1.6%;
	box-sizing: border-box;
}

.row, [class*='col-'] {
	box-sizing: border-box;
}

.row:before, .row:after {
	content: "";
	display: table;
	clear: both;
}

.row:after {
	clear: both;
}

/* All classes containing 'col-'. */
[class*='col-'] {
	position: relative;
	float: left;
	display: block;
	margin-top: 1.6%;
}

/* Only it column has a sibling to the left. */
[class*='col-'] + [class*='col-'] {
	margin-left: 1.6%;
}

/* Column within a column. */
[class*='col-'] [class*='col-'] {
	margin-top: 0;
}

.col-1 { width: 6.86666666667%; }
.col-2 { width: 15.3333333333%; }
.col-3 { width: 23.8%; }
.col-4 { width: 32.2666666667%; }
.col-5 { width: 40.7333333333%; }
.col-6 { width: 49.2%; }
.col-7 { width: 57.6666666667%; }
.col-8 { width: 66.1333333333%; }
.col-9 { width: 74.6%; }
.col-10 { width: 83.0666666667%; }
.col-11 { width: 91.5333333333%; }
.col-12 { 
	width: 100%; 
	margin-left: 0;
}

@media only screen and (max-width: 786px) {
	[class*='col-'] {
		float: none;
		width: auto;
	}

	[class*='col-'] + [class*='col-'] {
		margin-left: 0;
	}
}

body {
	font-family: sans-serif;
}

/**
 * Buttons
 */

.button {
	padding: 0.5em 1em;
	
	color: #111;
	background-color: #E6E6E6;
	
	border: 0px solid transparent;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 2px;
	outline: 0px none transparent;

	font-family: inherit;
	font-size: 100%;
	line-height: normal;
	text-decoration: none;
	text-align: center;

	white-space: nowrap;

	display: inline-block;
	cursor: pointer;
	box-sizing: border-box;
}

.button:hover, .button:active {
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.button:active {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.button-success, .button-warning, .button-information, .button-error {
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success { background-color: rgb(28, 184, 65); }
.button-warning { background-color: rgb(223, 117, 20); }
.button-information { background-color: rgb(66, 184, 221); }
.button-error { background-color: rgb(202, 60, 60); }

.button-size-xsmall { font-size: 50%; }
.button-size-small { font-size: 80%; }
.button-size-normal { font-size: 100%; }
.button-size-large { font-size: 110%; }
.button-size-xlarge { font-size: 125%; }